body {
    font-family: sans-serif;
}
table{
    width: 800px;
}
.cell {
    background-color: #d6eaf1;
    text-align: center;
    
}

.main {
   background-color: #66a8be;
}
.secondary {
    background-color: #91c5d3;
    padding: 5px;
}
.secondary-result {
    background-color: #b1cc7f;
}
.cell-result {
    background-color: #d8e1c6;
    text-align: center;
}
